<a href="https://colab.research.google.com/github/UmedAli123/-Machine-Learning-Explainability/blob/main/Project_Task2update.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# required libraries;
import pandas as pd
import numpy as np

In [ ]:
train_data=pd.read_csv('train.csv')
test_data=pd.read_csv('test.csv')

In [ ]:
train_data.sample(5)

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
25621,25621,21884,Male,Loyal Customer,41,Business travel,Business,3340,1,1,...,4,4,4,4,2,4,5,0,0.0,satisfied
43526,43526,60509,Female,Loyal Customer,36,Personal Travel,Eco,862,2,4,...,4,4,4,4,4,5,4,0,2.0,neutral or dissatisfied
99552,99552,2774,Male,Loyal Customer,57,Business travel,Business,764,5,5,...,4,4,4,4,4,4,5,0,0.0,satisfied
68337,68337,115891,Male,Loyal Customer,37,Business travel,Business,417,2,2,...,5,5,5,5,5,5,4,70,56.0,satisfied
90764,90764,44733,Male,Loyal Customer,53,Business travel,Eco Plus,67,4,3,...,4,2,2,3,1,1,4,7,10.0,satisfied

In [ ]:
test_data.sample(5)

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
17472,17472,52465,Male,Loyal Customer,34,Business travel,Eco Plus,370,2,1,...,2,4,1,3,4,3,2,0,0.0,neutral or dissatisfied
15199,15199,99850,Female,Loyal Customer,62,Personal Travel,Eco,468,2,4,...,1,1,2,1,3,1,3,2,18.0,neutral or dissatisfied
12382,12382,107184,Female,disloyal Customer,34,Business travel,Eco,668,2,1,...,3,1,4,4,3,4,3,0,0.0,neutral or dissatisfied
24938,24938,52679,Male,Loyal Customer,49,Personal Travel,Eco,160,1,4,...,5,5,2,4,3,5,5,4,1.0,neutral or dissatisfied
17705,17705,40790,Female,Loyal Customer,47,Business travel,Eco,588,3,1,...,3,3,3,3,3,3,2,0,9.0,satisfied

In [ ]:
# check null values for test and train data:
print('Null values in train_data',train_data.isnull().sum().sum())
print('Null values in test_data',test_data.isnull().sum().sum())

Null values in train_data 310
Null values in test_data 83

In [ ]:
# fill the missing values in the train and test data:
train_data['Arrival Delay in Minutes']=train_data['Arrival Delay in Minutes'].fillna(train_data['Arrival Delay in Minutes'].mean())
test_data['Arrival Delay in Minutes']=test_data['Arrival Delay in Minutes'].fillna(test_data['Arrival Delay in Minutes'].mean())

In [ ]:
# Encode the categorical to numerical columns of train data:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
train_data['Gender']=le.fit_transform(train_data['Gender'])
train_data['Customer Type']=le.fit_transform(train_data['Customer Type'])
train_data['Type of Travel']=le.fit_transform(train_data['Type of Travel'])
train_data['Class']=le.fit_transform(train_data['Class'])
train_data['satisfaction']=le.fit_transform(train_data['satisfaction'])

In [ ]:
# Encode the categorical to numerical columns of test data:
test_data['Gender']=le.fit_transform(test_data['Gender'])
test_data['Customer Type']=le.fit_transform(test_data['Customer Type'])
test_data['Type of Travel']=le.fit_transform(test_data['Type of Travel'])
test_data['Class']=le.fit_transform(test_data['Class'])
test_data['satisfaction']=le.fit_transform(test_data['satisfaction'])

In [ ]:
 train_data.dtypes

Unnamed: 0                             int64
id                                     int64
Gender                                 int32
Customer Type                          int32
Age                                    int64
Type of Travel                         int32
Class                                  int32
Flight Distance                        int64
Inflight wifi service                  int64
Departure/Arrival time convenient      int64
Ease of Online booking                 int64
Gate location                          int64
Food and drink                         int64
Online boarding                        int64
Seat comfort                           int64
Inflight entertainment                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Inflight service                       int64
Cleanliness                            int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
satisfaction                           int32
dtype: object

In [ ]:
test_data.dtypes

Unnamed: 0                             int64
id                                     int64
Gender                                 int32
Customer Type                          int32
Age                                    int64
Type of Travel                         int32
Class                                  int32
Flight Distance                        int64
Inflight wifi service                  int64
Departure/Arrival time convenient      int64
Ease of Online booking                 int64
Gate location                          int64
Food and drink                         int64
Online boarding                        int64
Seat comfort                           int64
Inflight entertainment                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Inflight service                       int64
Cleanliness                            int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
satisfaction                           int32
dtype: object

In [ ]:
# drop irrelevant columns from training and testing data:
train_data.drop(['Unnamed: 0','id'],axis=1,inplace=True)
test_data.drop(['Unnamed: 0','id'],axis=1,inplace=True)

In [ ]:
# independent features and dependent features:
x=train_data.drop(['Flight Distance'],axis=1)
y=train_data['Flight Distance']

In [ ]:
# spliting the data
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.1,random_state=100)

# OLS Model

In [ ]:
from statsmodels.api import OLS
model = OLS(ytrain, xtrain)
model_fit = model.fit()

In [ ]:
# predict the model on testing data
X=test_data.drop(['Flight Distance'],axis=1)
Y=test_data['Flight Distance']

In [ ]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,test_size=0.3,random_state=50)

In [ ]:
# predict the flight distance
predictions = model_fit.predict(Xtest)

In [ ]:
mse = np.mean((Ytest - predictions)**2)
print("MSE:", mse)

MSE: 789660.9246723562

In [ ]:
# score of model
r2 = model_fit.rsquared
print("R-squared:", r2)

R-squared: 0.6715199317691235

In [ ]:

import matplotlib.pyplot as plt
# Residual plot
residuals = Ytest - predictions
plt.scatter(predictions, residuals)
plt.axhline(y=0, color='r', linestyle='--')
plt.title('Residual Plot')
plt.xlabel('Predicted Values')
plt.ylabel('Residuals')
plt.show()

In [ ]:

# Actual vs Predicted graph
plt.scatter(Ytest, predictions)
plt.plot([min(Ytest), max(Ytest)], [min(Ytest), max(Ytest)], '--', color='red')
plt.title('Actual vs Predicted')
plt.xlabel('Actual Values')
plt.ylabel('Predicted Values')
plt.show()

# Coefficients of columns:

In [ ]:
# coefficents for features
print("Coefficients:\n", model_fit.params)

Coefficients:
 Gender                                55.993283
Customer Type                       -518.841882
Age                                    4.255639
Type of Travel                      -367.517925
Class                               -339.907920
Inflight wifi service                -81.903557
Departure/Arrival time convenient      8.997714
Ease of Online booking                40.623493
Gate location                         66.443929
Food and drink                        46.622668
Online boarding                       83.300210
Seat comfort                          46.798821
Inflight entertainment               -59.905119
On-board service                      34.311550
Leg room service                      69.283732
Baggage handling                      46.379315
Checkin service                       32.851333
Inflight service                      46.436431
Cleanliness                           28.308848
Departure Delay in Minutes             1.046906
Arrival Delay in Minutes              -0.485780
satisfaction                         -34.112041
dtype: float64

# Pvalues of featues

In [ ]:
# model pvalues
p_values = model_fit.pvalues
p_values

Gender                                5.535631e-22
Customer Type                         0.000000e+00
Age                                  3.064551e-110
Type of Travel                        0.000000e+00
Class                                 0.000000e+00
Inflight wifi service                1.300585e-122
Departure/Arrival time convenient     2.773961e-04
Ease of Online booking                4.256169e-32
Gate location                        6.797923e-134
Food and drink                        2.573760e-49
Online boarding                      5.246564e-162
Seat comfort                          2.478803e-43
Inflight entertainment                3.045065e-45
On-board service                      3.710580e-30
Leg room service                     1.877910e-168
Baggage handling                      1.488900e-43
Checkin service                       3.774506e-38
Inflight service                      4.877363e-40
Cleanliness                           4.761061e-14
Departure Delay in Minutes            1.486068e-04
Arrival Delay in Minutes              7.521791e-02
satisfaction                          9.571129e-05
dtype: float64

# Significant or not:

In [ ]:
# features and its p-values
for param, pval in zip(model_fit.params.index, p_values):
    if pval < 0.05:
        print(f"feature: {param} is significant (p-value: {pval:.2f})")
    else:
        print(f"feature: {param} is not significant (p-value: {pval:.2f})")

feature: Gender is significant (p-value: 0.00)
feature: Customer Type is significant (p-value: 0.00)
feature: Age is significant (p-value: 0.00)
feature: Type of Travel is significant (p-value: 0.00)
feature: Class is significant (p-value: 0.00)
feature: Inflight wifi service is significant (p-value: 0.00)
feature: Departure/Arrival time convenient is significant (p-value: 0.00)
feature: Ease of Online booking is significant (p-value: 0.00)
feature: Gate location is significant (p-value: 0.00)
feature: Food and drink is significant (p-value: 0.00)
feature: Online boarding is significant (p-value: 0.00)
feature: Seat comfort is significant (p-value: 0.00)
feature: Inflight entertainment is significant (p-value: 0.00)
feature: On-board service is significant (p-value: 0.00)
feature: Leg room service is significant (p-value: 0.00)
feature: Baggage handling is significant (p-value: 0.00)
feature: Checkin service is significant (p-value: 0.00)
feature: Inflight service is significant (p-value: 0.00)
feature: Cleanliness is significant (p-value: 0.00)
feature: Departure Delay in Minutes is significant (p-value: 0.00)
feature: Arrival Delay in Minutes is not significant (p-value: 0.08)
feature: satisfaction is significant (p-value: 0.00)

It seems that none of features having value greater than 0.05 means all are signicicant